@font-face {
  font-family: "iconfont"; /* Project id 2858089 */
  src: url('iconfont.woff2?t=1633882401115') format('woff2'),
       url('iconfont.woff?t=1633882401115') format('woff'),
       url('iconfont.ttf?t=1633882401115') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiaoyuan:before {
  content: "\e655";
}

